p {
  color: rgb(26, 28, 26);
}
html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 25px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: "M PLUS Rounded 1c", sans-serif;
}
html {
  background-color: #c3e4cb;
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #302c2dbc;
  text-shadow: 3px 3px 1px black;
}
img {
  display: block;
  margin: 10 auto;
  max-width: 100%;
}